@model IEnumerable<WebStore.Domain.Entities.Product>

@{
    ViewData["Title"] = "Список продуктов";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WebId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(p => product.Id)
            </td>
            <td>
                @Html.DisplayFor(p => product.Name)
            </td>
            <td>
                @Html.DisplayFor(p => product.Order)
            </td>
            <td>
                @Html.DisplayFor(p => product.Section.Name)
            </td>
            <td>
                @Html.DisplayFor(p => product.Brand.Name)
            </td>
            <td>
                <img src="~/images/shop/@product.Image.Url" width="50" alt="@product.Name" />
            </td>
            <td>
                @Html.DisplayFor(p => product.Price)
            </td>
            <td>
                @Html.DisplayFor(p => product.WebId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@product.Id">
                   <i class="glyphicon glyphicon-edit"></i>Редактировать
                </a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@product.Id" class="text-danger">
                    <i class="glyphicon glyphicon-remove"></i>Удалить
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

