@using WebStore.Models
@model AdminCatalogViewModel

@{
    ViewData["Title"] = "Список продуктов";
}

<p>
    <a asp-action="Add">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th>
                Порядковый номер
            </th>
            <th>
                Секция
            </th>
            <th>
                Бренд
            </th>
            <th>
                Фото
            </th>
            <th>
                Цена
            </th>
            <th>
                Артикул
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(p => product.Id)
                </td>
                <td>
                    @Html.DisplayFor(p => product.Name)
                </td>
                <td>
                    @Html.DisplayFor(p => product.Order)
                </td>
                <td>
                    @Html.DisplayFor(p => product.Section.Name)
                </td>
                <td>
                    @Html.DisplayFor(p => product.Brand.Name)
                </td>
                <td>
                    <img src="~/images/shop/@product.Image.Url" width="50" alt="@product.Name" />
                </td>
                <td>
                    @Html.DisplayFor(p => product.Price)
                </td>
                <td>
                    @Html.DisplayFor(p => product.WebId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@product.Id">
                        <i class="glyphicon glyphicon-edit"></i>Редактировать
                    </a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@product.Id" class="text-danger">
                        <i class="glyphicon glyphicon-remove"></i>Удалить
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>    
}

@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

